* {
    margin: 0;
    font-family: "Segoe UI";
}

#container_mainpage_default_name {
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
}

#container_mainpage_default_lab_links {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.lablinks {
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(249, 251, 250);
    border: 1px solid black;
    color: black;
    margin: 0.5vw;
    text-align: center;
    font-size: 1vw;
    height: 2.5vw;
}

.pressedlablinks {
    margin: 0.5vw;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: slategrey;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 1vw;
    height: 2.5vw;
}

#container_lab1_items {
    position: absolute;
    top:40%;
}

.item_links {
    list-style: none;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    appearance: none;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid black;
    color: black;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    height: 40px;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

.item_pressed_links {
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    appearance: none;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: slategrey;
    border: 1px solid black;
    color: white;
    width: 250px;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

.labs_field_for_info {
    border: 1px solid black;
    position: absolute;
    top:40%;
    left:25%;
    width: 60%;
    height: 40%;
}

.labs_items_list {
    list-style: none;
}

#lab1_view_picture {

    padding: 5px;
    font-size: 18px;
    margin: 50px;
    width: 700px;
    height: 400px;
    border: 1px solid black;
    overflow: auto;
}

#lab1_view_pic {
    position: absolute;
    width: 100%;
    height: 200%;
}

.lab1_theme {
    font-size: 1.2vw;
}