.header {
    width: 100%;
    height: 60px;
    background-color: rgb(223, 189, 40);
    text-align: center;
    padding: 20px;
}

#header2 {
    width: 200px;
    position: relative;
    top:30%;
    left:-78%;
    
    background-color: rgb(199, 195, 179);
    text-align: center;
    padding: 20px;

}

#top {
    width: 35%;
    height: 40px;
    border: solid 1px black;
    background-color: white;
    position: relative;
    left:5%;
}

.Pershe {
    width: 300px;
    height: 460px;
    background-color: rgb(77, 80, 255);
    padding: 15px;
    vertical-align: top;
}

.Druge {
    width: 42%;
    background-color: azure;
    transform: scale(0.9);
    border: solid 1px black;

}

#red_middle {
    position: relative;
    width: 100%;
    top: 195px;
    height: 100px;


    background-color: red;
}

.Tretye {
    width: 350px;
    height: 460px;
    transform: scale(0.9);
    border: solid 1px black;
    background-color: rgb(77, 80, 255);
    padding: 15px;
    vertical-align: top;
}

.bottom {

    padding: 10px 0 10px 20px;
    height: 60px;
    background-color: rgb(223, 189, 40);
}