.header{
	width: 100%;
	height: 60px;
	background-color: 	#FFD700;
	padding: 20px;
	text-align: right;
	font-size: 50px;
}

.left_col{
	width: 25%;
	height: 460px;
	background-color: #4169E1;
	padding: 15px;
	vertical-align: center;
	text-align: center;
	font-size: 50px;
}

.center_col{
	width: 25%;
  background-color: #A80000 ;
	padding: 15px;
	vertical-align: center;
	text-align: center;
	font-size: 50px;
}
.right_col{
	width: 25%;
  background-color: white;
	padding: 15px;
	vertical-align: center;
	text-align: center;
	font-size: 50px;
}
.footer{
	width: 100%;
	height: 60px;
  background-color: 	#FFD700;
	padding: 20px;
	font-size: 50px;

}
.first_col{
	width: 25%;
	background-color: #A80000 ;
	padding: 15px;
	vertical-align: center;
	text-align: center;
	font-size: 50px;
}
td{
	
}
